/*
 * @Author: Nokey 
 * @Date: 2018-08-31 15:55:14 
 * @Last Modified by:   Mr.B 
 * @Last Modified time: 2018-08-31 15:55:14 
 */

.Demo__pixi_video
    width 100%
    max-width 800px
    margin 20px auto
