/*
 * @Author: Nokey 
 * @Date: 2018-08-31 15:25:29 
 * @Last Modified by: Mr.B
 * @Last Modified time: 2018-08-31 16:07:29
 */

.Demo__earth_3d
    position relative
    background-color #183939
    
    .btn
        position absolute
        width 80px
        height 3em
        text-align center
        line-height 3em
        background-color #fff
        border-radius 5px
        cursor pointer

    .city1
        right 50px
        bottom 20px

    .city2
        right 150px
        bottom 20px
